# This is Git's per-user configuration file.
[user]
	name = wschidugam
	email = wschidugam@outlook.com
# Please adapt and uncomment the following lines:
#	name = EC2 Default User
#	email = ec2-user@ip-172-31-18-158.ca-central-1.compute.internal
